<html lang="en">
    <body>
        {% for trade in data %}
            <br>
            Ticker: {{ trade.ticker }}<br>
            Company Name: {{ trade.company_name }}<br>
            Filing Date: {{ trade.filing_date }}<br>
            Trade Date: {{ trade.trade_date }}<br>
            Price: {{ trade.price }}<br>
            Quanitiy: {{ trade.qty }}<br>
            Value: {{ trade.value }}<br>
            Owned: {{ trade.owned }}<br>
            Delta Owned: {{ trade.delta_owned }}<br>
            Trade Type: {{ trade.trade_type }}<br>
            Insider Name: {{ trade.insider_name }}<br>
            Insider Title: {{ trade.insider_title }}<br>
            ------------------------------------------------------
            <br>
        {% endfor %}
    </body>
</html>
